[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "thegaminghollow/themes/ananke"]
	path = thegaminghollow/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
